<div class="container my-4">
  <form>
    <div class="form-group my-4">
      <label class="my-1 font-weight-bold">Channel Name</label>
      <input type="text" [(ngModel)]="channelName" name="channelName" class="form-control" placeholder="Enter channel name">
    </div>

    <div class="row">
        <div class="form-group my-4">
          <label class="my-1 font-weight-bold">Select group</label>
          <div *ngFor="let group of groupList" class="form-check">
            <input class="form-check-input" type="checkbox" [(ngModel)]="group.selected" name="selectedGroups" [value]="group.id">
            <label class="form-check-label">
              {{ group.name }}
            </label>
          </div>
          <small> ❗️ The channel you are creating will belong to the selected groups</small>
        </div>
    </div>
    <div class="error-message py-2" *ngIf="errorMessage">{{ errorMessage }}</div>
    <button type="submit" class="btn btn-outline-info my-3 w-100" (click)="createChannel()">Create New Channel</button>
    <button type="submit" class="btn btn-outline-info my-3 w-100" (click)="cancel()">Cancel</button>
  </form>
</div>
