<div class="my-3 mx-3">
  <div class="row my-2">
    <h5 class="col">Groups & Channels</h5>
    <button *ngIf="currentUser && mapUserRoleToEnum(currentUser.roles) !== roles.User" type="button" class="btn btn-outline-info col-2 mx-1" routerLink="/create-group">New Group</button>
    <button *ngIf="currentUser && mapUserRoleToEnum(currentUser.roles) !== roles.User" type="button" class="btn btn-outline-info col-2 mx-1" routerLink="/create-channel">New Channel</button>
  </div>

  <!-- Group & Channel List -->
  <div *ngFor="let groupDataItem of groupData; let i = index;" class="accordion my-2">
    <div class="row bg-light text-dark my-2 p-2 border border-1 rounded">
      <div (click)="expandCard(i)" class="col w-100 text-black" type="button">
        {{ groupDataItem.group.name }}
      </div>
      <small *ngIf="currentUser && mapUserRoleToEnum(currentUser.roles) === roles.User" class="col-2 btn text-info mx-1"> Register to Join </small>
      <button *ngIf="currentUser && mapUserRoleToEnum(currentUser.roles) !== roles.User" (click)="deleteGroup(groupDataItem.group.id)" class="col-1 btn btn-info text-light"> X </button>
    </div>

    <div *ngIf="indexExpanded === i" class="my-2 p-2">
      <div *ngFor="let channel of groupDataItem.channels" class="accordion-body border-bottom">
        <div class="row">
          <div class="col">{{ channel.name }}</div>
          <button *ngIf="currentUser && mapUserRoleToEnum(currentUser.roles) !== roles.User" (click)="deleteChannel(channel.id)" class="col-1 btn btn-info text-light"> X </button>
        </div>
      </div>
    </div>
  </div>
</div>
