<div class="my-3 mx-3">
  <div class="row my-2">
    <h5 class="col">Users</h5>
    <button *ngIf="currentUser && mapUserRoleToEnum(currentUser.roles) === roles.User" type="button" class="btn btn-outline-info col-2 mx-1" routerLink="/create-user">Create User</button>
  </div>

  <!--  Users List-->
  <div *ngFor="let user of userList" class="accordion-body">
    <div class="row bg-light text-dark my-2 p-2 border border-1 rounded">
      <h6 class="col text-capitalize">{{ user.username }} - <small class="text-muted">{{user.roles[0]}}</small></h6>
      <small *ngIf="currentUser && mapUserRoleToEnum(currentUser.roles) !== roles.User && mapUserRoleToEnum(currentUser.roles) !== roles.GroupAdmin" class="col-2 btn text-info mx-1" (click)="openChannelSection()"> Add to Channel </small>
      <small *ngIf="currentUser && mapUserRoleToEnum(currentUser.roles) !== roles.User && mapUserRoleToEnum(currentUser.roles) !== roles.GroupAdmin" class="col-2 btn text-info mx-1" (click)="openGroupSection()"> Add to Group </small>
      <small *ngIf="currentUser && mapUserRoleToEnum(currentUser.roles) === roles.SuperAdmin" class="col-2 btn text-info mx-1"> Make Group Admin </small>
      <small *ngIf="currentUser && mapUserRoleToEnum(currentUser.roles) === roles.SuperAdmin" class="col-2 btn text-info mx-1"> Make Super Admin </small>
      <small *ngIf="currentUser && mapUserRoleToEnum(currentUser.roles) === roles.User" class="col-2 btn text-info mx-1"> Leave Group </small>
      <small *ngIf="currentUser && mapUserRoleToEnum(currentUser.roles) === roles.GroupAdmin" class="col-2 btn text-info mx-1"> Ban & Report </small>
      <div *ngIf="currentUser && mapUserRoleToEnum(currentUser.roles) === roles.SuperAdmin" class="col-1 btn btn-info text-light"> X </div>
    </div>
  </div>

  <ng-container *ngIf="showChannelSection || showGroupSection; else myTemplate">
    <p></p>
  </ng-container>
  <ng-template #myTemplate>
    <!-- Your ng-template content -->
    <h5>Choose The Group to add user:</h5>
    <div *ngFor="let group of groupList" class="form-check">
      <input class="form-check-input" type="checkbox" [(ngModel)]="group.selected" name="selectedGroups" [value]="group.id">
      <label class="form-check-label">
        {{ group.name }}
      </label>
    </div>
  </ng-template>
</div>
