<ng-container *ngIf="assignRoleObservable | async"></ng-container>
<div class="my-3 mx-3" *ngIf="currentUser() | async as currentUser">
  <div class="row my-2">
    <h5 class="col">Users</h5>
<!--    Show for superAdmin -->
    <div *ngIf="currentUser.role === roles.superAdmin">❗️ You can see all users from the app.</div>
<!--    Show for groupAdmin -->
    <div *ngIf="currentUser.role === roles.groupAdmin">❗️ You can only see users from groups & rooms that you are an admin of.</div>
<!--    Show for groupAssis -->
    <div *ngIf="currentUser.role === roles.groupAdmin">❗️ You can only see users from groups & rooms that you belong to.</div>
  </div>

  <!--  Users List-->
  <div *ngFor="let user of users | async" class="accordion-body">
    <div class="row bg-light text-dark my-2 p-2 border border-1 rounded">
      <div class="col text-capitalize">{{user.username}} <small>{{user.role}}</small></div>
      <!-- Show for superAdmin only -->
      <button *ngIf="currentUser.role === roles.superAdmin || currentUser.role === roles.groupAdmin" class="col-2 p-1 m-1 btn btn-info" (click)="addToGroup(user._id)">Add to group</button>

      <!-- Show for superAdmin & groupAdmin only -->
      <button *ngIf="currentUser.role === roles.superAdmin || currentUser.role === roles.groupAdmin" class="col-2 p-1  m-1 btn btn-info" (click)="addToRoom(user._id)">Add to room</button>

      <!-- Show for superAdmin only -->
      <button *ngIf="currentUser.role === roles.superAdmin && user.role !== roles.superAdmin" class="col-2 p-1  m-1 btn btn-info" (click)="assignRoleToUser(user._id, roles.groupAdmin)">Make SuperAdmin</button>

      <!-- Show for superAdmin only -->
      <button *ngIf="currentUser.role === roles.superAdmin  && user.role !== roles.groupAdmin" class="col-2 p-1  m-1 btn btn-info" (click)="assignRoleToUser(user._id, roles.groupAdmin)">Make GroupAdmin</button>

      <!-- Ban and Report if groupAdmin -->
      <button *ngIf="currentUser.role === roles.groupAdmin" class="col-1 p-1  m-1 btn btn-info" (click)="banAndReportUser(user._id)">Ban & Report</button>

      <!-- Ban if superAdmin -->
      <button *ngIf="currentUser.role === roles.superAdmin" class="col-1 p-1  m-1 btn btn-info" (click)="banUser(user._id)">Ban</button>

      <!-- Show for superAdmin only -->
      <!-- Show for groupAdmin only for users from groups they administer -->
      <button *ngIf="currentUser.role === roles.superAdmin || currentUser.role === roles.groupAdmin" class="col-1 p-1  m-1 btn btn-info" (click)="deleteUser(user._id)">X</button>
    </div>
  </div>
</div>
