<section>
  <div class="container py-5">
    <div class="row">
      <div class="col-md-4">
        <app-expandable-group-card
          (groupSelected)="selectedGroup = $event"
          (roomSelected)="selectedRoom = $event"
        ></app-expandable-group-card>
      </div>
      <!-- Check if no group or room is selected -->
      <ng-template *ngIf="!selectedGroup && !selectedRoom" class="text-center">
        <p class="text-muted">Join a Group to Chat</p>
      </ng-template>

      <div *ngIf="selectedGroup" class="col-md-8">
        <div class="card" id="chat3" style="border-radius: 15px; height: 600px;">
          <div class="card-body">
            <!-- Header -->
            <div class="chat-header">
              {{ selectedGroup }} - {{ selectedRoom }}
            </div>

            <!-- Chat Messages -->
            <div style="overflow-y: auto; height: 420px;">
              <div
                *ngFor="let message of messages"
                class="d-flex justify-content-start align-items-center p-2"
              >
                <img
                  src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava6-bg.webp"
                  alt="avatar"
                  style="width: 30px; height: 30px; border-radius: 50%;"
                />
                <div class="bg-light rounded p-2 ms-2">
                  {{ message }}
                </div>
              </div>
            </div>

            <!-- Message Input -->
            <div class="text-muted d-flex justify-content-start align-items-center pt-3">
              <input
                [(ngModel)]="message"
                class="form-control form-control-lg me-2"
                placeholder="Type a message..."
              />
              <button (click)="sendMessage()" class="btn btn-info text-light">
                Send
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
