<div class="row mx-3">
  <!-- List of chats -->
  <div class="col-4 bg-light">
    <app-expandable-group-card></app-expandable-group-card>
  </div>

  <div class="vertical-line"></div>

  <!-- Chat view -->
  <div class="col-8 bg-light text-black">
    <div class="chat-messages">
      <div *ngFor="let message of messages" class="message">
        {{ message }}
      </div>
    </div>

    <!-- Input and Send Button at the Bottom -->
    <div class="input-container">
      <input [(ngModel)]="message" class="form-control" placeholder="Type a message..." />
      <button (click)="sendMessage()" class="btn btn-info text-light">Send</button>
    </div>
  </div>
</div>
