<div class="container my-4">
  <form (ngSubmit)="createUser()">
    <div class="form-group my-4">
      <label class="my-1 font-weight-bold">Username</label>
      <input type="text" id="username" [(ngModel)]="username" name="username" class="form-control" placeholder="Enter a username" required>
    </div>

    <div class="form-group my-4">
      <label class="my-1 font-weight-bold">Email</label>
      <input type="text" id="email" [(ngModel)]="email" name="email" class="form-control" placeholder="Enter an email" required>
    </div>

    <div class="form-group my-4">
      <label class="my-1 font-weight-bold">Password</label>
      <input type="password" id="pwd" [(ngModel)]="pwd" name="pwd" class="form-control" placeholder="Create a password" required>
    </div>

    <div class="form-group">
      <label for="selectedRole">Select Role</label>
      <select id="selectedRole" [(ngModel)]="selectedRole" name="selectedRole" class="form-control" required>
        <option value="" disabled>Select a role</option>
        <option value="SuperAdmin">SuperAdmin</option>
        <option value="GroupAdmin">GroupAdmin</option>
        <option value="ChatUser">ChatUser</option>
      </select>
    </div>

    <div class="error-message py-2" *ngIf="errorMessage">{{ errorMessage }}</div>

    <button type="submit" class="btn btn-outline-info my-3 w-100">Create User</button>
    <button type="button" class="btn btn-outline-info w-100" (click)="cancel()">Cancel</button>
  </form>
</div>
