<div id="accordion" class="my-2 mx-2" *ngIf="currentUser() | async as user">
  <!-- Group & Room List -->
  <div *ngFor="let group of groups | async; let i = index" class="accordion my-2">
    <div class="row bg-light text-dark my-2 p-2 border border-1 rounded">
      <div (click)="expandCard(i)" class="col w-100 text-black" type="button">
        {{ group.name }}
      </div>
      <button class="col-3 p-1 m-1 btn btn-info text-light"> Join Group </button>
    </div>

    <div *ngIf="isExpand[i]" class="my-2 p-2">
      <div *ngFor="let room of groupedRooms[group._id]" class="accordion-body border-bottom">
        <div class="row">
          <div class="col">{{ room.name }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
